<p>
  <strong>Author First Name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Author Last Name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Author Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Author Homepage:</strong>
  <%= @author.homepage %>
</p>